body {
  padding: 0;
  margin: 0;
  background-color: #151d3b;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}
h1 {
  text-align: center;
  color: #d82148;
  font-family: "Press Start 2P", cursive;
  text-transform: uppercase;
  margin-top: 2rem;
}
.selections {
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.selection {
  margin-top: 5rem;
  background: none;
  border: 1px solid #fff;
  outline: none;
  cursor: pointer;
  font-size: 4rem;
  transition: 100ms;
  padding: 10px;
  max-height: 100%;
  height: 150px;
  max-width: 100%;
  width: 150px;
}
.selection:hover {
  transform: scale(1.2);
}
.results {
  margin-top: 5rem;
  display: grid;
  justify-content: center;
  color: #dadbbd;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  font-size: 1.5rem;
}
.score {
  margin-left: 0.1rem;
  font-size: 0.8rem;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 10px;
  color: #fff;
  font-size: 20px;
}
.fa-github {
  color: #fff;
  font-size: 23px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(-180deg) scale(1.2);
}

@media only screen and (max-width: 925px) {
  h1 {
    font-size: 2rem;
  }
}
